html,body {
  height: 100%;
  overflow: hidden;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  /* width:100%; */
  /* background-size: 100px; */
  display: flex;
  box-sizing: border-box;
  margin:0;
    /* padding: 200px 0; */
  justify-content: center;
  text-align:center;
    /* gap: 200px; */
  background-size: cover;
  background-position: center center;
  /* background: linear-gradient(#D4145A, #FBB03B) */
  background-image: url(./component/assets/arknights.png);
  background-repeat: no-repeat;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
